<div class="container">
  <div class="row">
    <div class="panel panel-default col-md-6">
      <div class="panel-body">
        <form class="form">
          <select class="form-control" ng-model="week" ng-options="item as item.label for item in weeks"></select>
          <select class="form-control" ng-model="query" ng-options="item as item.label for item in queries"></select>
          <button class="btn btn-default" ng-click="doSubmit()">Submit</button>
        </form>
      </div>
    </div>
  </div>
  <div class="row" ng-if="qr">
    <div class="d-flex">
      <div ng-repeat="chan in qr.chans | orderBy: getChanOrder"
           class="panel panel-default d-flex flex-column p-1">
        <p>{{chanInfo[chan.id].name || chan.id}}</p>
        <div ng-if="chan.isOneBit" class="channel">
          <div ng-repeat="value in chan.values track by $index"
               ng-class="chanInfo[chan.id].className",
               ng-style="{height: value/msPerPx+'px',
                         'margin-top': (chan.durations[$index]-value)/msPerPx+'px'}">{{msToMinSec(value)}}</div>
        </div>
        <div ng-if="!chan.isOneBit" class="channel">
          <div ng-repeat="value in chan.values track by $index"
               ng-class="chanInfo[chan.id].className",
               ng-style="{height: chan.durations[$index]/msPerPx+'px'}">{{value}}</div>
        </div>
      </div>
    </div>
  </div>
</div>
