body {
  background-color: lemonchiffon;
}
.groovy-font, .groovy-logo {
  font-family: 'Spicy Rice', fantasy;
}
.curly-font {
  font-family: 'Griffy', cursive;
}
#my-navbar,
#my-navbar .navbar-toggle:hover {
  background-color: gold;
}
#my-navbar .navbar-toggle {
  margin-left: 8px;
  margin-right: 0px;
}
.groovy-logo, .groovy-logo-color,
#my-navbar .navbar-brand,
#my-navbar .navbar-text,
#my-navbar .active {
  color: darkviolet;
}
#my-navbar .navbar-nav .active,
#my-navbar .navbar-text {
  font-weight: bold
}
#my-navbar .navbar-nav :hover {
  color: deeppink;
}
.tile-panel {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;

  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
}
.tile-panel .tile {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
}
