<div class="container-fluid">
  <div class="row">
    <div class="col-md-6">
      <div class="panel panel-default">
        <div class="panel-body">
          <p style="display: inline-block" ng-repeat="id in root.folders">
            <a ui-sref="picbrowser({id: id, i: null, sz: null})" class="btn"
               ng-class="id === firstlevel.id ? 'btn-primary btn-purple' : 'btn-default'">{{id}}</a> &nbsp;
          </p>
          <p ng-repeat="folder in path">
            <a ui-sref="picbrowser({id: folder.id, i: null, sz: null})"
               ng-class="$last ? 'cur-folder' : 'higher-folder'">{{folder.name}}</a>
          </p>
          <p ng-if="curFold !== root" ng-repeat="id in curFold.folders">
            <a ui-sref="picbrowser({id: id, i: null, sz: null})"
               class="lower-folder">{{curFold.names[id]}}</a>
          </p>
        </div>
      </div>
      <div class="panel-footer-drippy">
        <a ui-sref="picbrowser({id: curFold.parent, i: null, sz: null})" class="btn btn-default" ng-show="curFold !== root">
          <span class="glyphicon glyphicon-arrow-up groovy-logo-color"></span> Back</a> &nbsp;
        <a ui-sref="picbrowser({id: nextId, i: null, sz: null})" class="btn btn-default" ng-show="nextId">
          <span class="glyphicon glyphicon-arrow-right groovy-logo-color"></span> Next</a>
        <div class="btn-group pull-right" uib-dropdown is-open="optionsMenuIsOpen">
          <button class="btn btn-default" uib-dropdown-toggle>
            Options <span class="caret"></span>
          </button>
          <ul class="dropdown-menu" uib-dropdown-menu>
            <li><a ng-click="rotateTileSz()">{{tileSzOptionText}}</a></li>
            <li><a ng-click="toggleRatings()">{{ratingsOptionText}}</a></li>
          </ul>
        </div>
      </div>
    </div>
  </div>
  <div class="row" ng-repeat="id in curFold.videos" ng-show="$first || showVideo">
    <div class="col-md-6">
      <div class="panel panel-default">
        <div class="panel-heading" ng-if="$first" ng-click="toggleVideo()">
          <div class="panel-title">
            <span class="groovy-logo">{{curFold.videos.length}} Video{{curFold.videos.length > 1 ? "s" : ""}}</span>
            <span class="curly-font">click here to {{showVideo ? "hide" : "see"}}
                  {{curFold.videos.length > 1 ? "them" : "it"}}</span>
          </div>
        </div>
        <div class="panel-body" ng-show="showVideo">
          <video style="width:100%" controls preload="none" ng-src="{{'gvypics/vid/'+id}}"></video>
          <p>{{curFold.names[id]}}</p>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="pic-tile-panel">
  <div class="pic-tile" ng-class="'pic-tile-'+sz" ng-if="istart > 0">
    <div class="pic-tile-text btn-primary btn-purple" ng-click="moreBack()">
      {{istart}} skipped, click here for more
    </div>
  </div>
  <div class="pic-tile" ng-class="'pic-tile-'+sz" id="{{id}}"
       context-menu="contextMenuOptions"
       ng-repeat="id in curFold.pictures | limitTo: nlimit : istart">
    <div class="pic-tile-pic" ng-click="clickPic(id)">
      <img ng-src="{{'gvypics/pic/'+id+'?sz='+sz}}">
    </div>
    <p class="pic-tile-text"><rating level="curFold.meta[id].rating" show="showRating"></rating> {{curFold.names[id]}}</p>
  </div>
  <div class="pic-tile" ng-class="'pic-tile-'+sz" ng-if="curFold.pictures.length > istart+nlimit">
    <div class="pic-tile-text btn-primary btn-purple" ng-click="moreFwd()">
      {{istart+nlimit}} of {{curFold.pictures.length}}, click here for more
    </div>
  </div>
</div>
