<div class="container-fluid">
  <div class="row">
    <div class="col-md-6">
      <div class="panel panel-default">
        <div class="panel-body">
          <p style="display: inline-block" ng-repeat="id in root.folders">
            <a ui-sref="picbrowser({id: id, i: null, sz: null, showid: null})" class="btn"
               ng-class="id === firstlevel.id ? 'btn-primary btn-purple' : 'btn-default'">{{id}}</a> &nbsp;
          </p>
          <p ng-repeat="folder in path">
            <a ui-sref="picbrowser({id: folder.id, i: null, sz: null, showid: null})"
               ng-class="$last ? 'cur-folder' : 'higher-folder'">{{folder.name}}</a>
          </p>
          <p ng-if="curFold !== root" ng-repeat="id in curFold.folders">
            <a ui-sref="picbrowser({id: id, i: null, sz: null, showid: null})"
               class="lower-folder">{{capText[id]}}</a>
          </p>
        </div>
      </div>
      <div class="panel-footer-drippy">
        <a ui-sref="picbrowser({id: curFold.parent, i: null, sz: null, showid: null})"
           class="btn btn-default" ng-show="curFold !== root">
          <span class="glyphicon glyphicon-arrow-up groovy-logo-color"></span> Back</a> &nbsp;
        <a ui-sref="picbrowser({id: nextId, i: null, sz: null, showid: null})"
           class="btn btn-default" ng-show="nextId">
          <span class="glyphicon glyphicon-arrow-right groovy-logo-color"></span> Next</a>
        <div uib-dropdown class="btn-group pull-right" is-open="optionsMenuIsOpen">
          <button uib-dropdown-toggle class="btn btn-default">
            Options <span class="caret"></span>
          </button>
          <ul uib-dropdown-menu class="dropdown-menu">
            <li><a ng-click="rotateTileSz()">{{tileSzOptionText}}</a></li>
            <li><a ng-click="toggleShowId()">{{showIdOptionText}}</a></li>
            <li class="divider"></li>
            <li ng-repeat="filt in rating.filterValues">
              <a ng-click="setRatingFilter(filt)">Show
                <span ng-repeat="r in [5,4,3,2,1,0]"
                      ng-show="rating.filterHas(filt, r)">
                  <rating level="r" show="true"></rating>
                </span></a></li>
            <li><a ng-click="setRatingFilter(0)">{{showAllText}}</a></li>
            <li ng-show="appSettings.showRating"><a ng-click="setRatingFilter(-1)">Hide Ratings</a></li>
            <li class="divider"></li>
            <li><a ng-click=""><span class="glyphicon glyphicon-remove"></span> Close Menu</a></li>
          </ul>
        </div>
      </div>
    </div>
  </div>
  <div class="panel panel-default panel-cap-edit ng-hide" ng-show="showCapEdit">
    <form>
      <h2><span class="curly-font">Edit Caption for</span>
          <span class="groovy-logo-color">{{capEditId}}</span>:</h2>
      <p><input class="form-control" type="text" ng-model="capEditText"></p>
      <p>
        <button class="btn btn-default" type="submit" ng-click="closeCapEdit(true)">OK</button>
        <button class="btn btn-default pull-right" ng-click="closeCapEdit()">Cancel</button>
      </p>
    </form>
  </div>
  <div class="row" ng-repeat="id in curFold.videos" ng-show="$first || showVideo">
    <div class="col-md-6">
      <div class="panel panel-default">
        <div class="panel-heading" ng-if="$first" ng-click="toggleShowVideo()">
          <div class="panel-title clearfix">
            <span class="groovy-logo">{{curFold.videos.length}} Video{{curFold.videos.length > 1 ? "s" : ""}}</span>
            <div class="curly-font pull-right">
              Click here to {{showVideo ? "hide" : "see"}} {{curFold.videos.length > 1 ? "them" : "it"}}
            </div>
          </div>
        </div>
        <div class="panel-body" ng-show="showVideo">
          <video style="width:100%" controls preload="none" ng-src="{{'gvypics/vid/'+id}}"></video>
          <p>{{curFold.names[id]}}</p>
        </div>
      </div>
    </div>
  </div>
  <div class="row" ng-show="appSettings.ratingFilter || showFilterSticky">
    <div class="col-md-6">
      <div class="panel panel-default">
        <div class="panel-heading" ng-click="toggleShowFilter()">
          <div class="panel-title clearfix">
            <span class="groovy-logo">Now showing</span>
            <span ng-repeat="r in [5,4,3,2,1,0]"
                  ng-show="rating.filterHas(appSettings.ratingFilter, r)">
              <rating level="r" show="true"></rating>
            </span>
            <div class="curly-font pull-right" ng-hide="showFilter">
              Click here for more options
            </div>
          </div>
        </div>
        <div class="panel-body" ng-show="showFilter">
          <span ng-repeat="r in [5,4,3,2,1,0]">
            <div class="btn" ng-click="toggleRatingFilter(r)"
                 ng-class="rating.filterHas(appSettings.ratingFilter, r) ? 'btn-gold' : 'btn-default'">
              <rating level="r" show="true"></rating>
            </div>
          </span>
          <p>
            <div class="btn btn-default" ng-click="setRatingFilter(0)">{{showAllText}}</div>
            <div class="btn btn-default" ng-click="setRatingFilter(-1)">Hide Ratings</div>
          </p>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="pic-tile-panel">
  <div class="pic-tile" ng-class="'pic-tile-'+sz" ng-if="istart > 0">
    <div class="pic-tile-text btn-primary btn-purple" ng-click="moreBack()">
      {{istart}} skipped, click here for more
    </div>
  </div>
  <div class="pic-tile" ng-class="'pic-tile-'+sz" id="{{id}}"
       context-menu="contextMenuOptions"
       ng-repeat="id in curFold.pictures | limitTo: nlimit : istart
                                         | ratingFilter: curFold.meta : appSettings.ratingFilter : defaultRating">
    <div class="pic-tile-pic" ng-click="clickPic(id)">
      <img ng-src="{{'gvypics/pic/'+id+'?sz='+sz}}">
    </div>
    <p class="pic-tile-text">
      <rating level="curFold.meta[id].rating" show="appSettings.showRating" default="defaultRating"></rating>
      {{capText[id]}}</p>
  </div>
  <div class="pic-tile" ng-class="'pic-tile-'+sz" ng-if="curFold.pictures.length > istart+nlimit">
    <div class="pic-tile-text btn-primary btn-purple" ng-click="moreFwd()">
      {{istart+nlimit}} of {{curFold.pictures.length}}, click here for more
    </div>
  </div>
  <div class="btn btn-default btn-lg btn-bottom-right-fixed btn-dim" id="rocket"
       ng-click="rocketClick()" ng-show="showRocket">
    <span class="glyphicon glyphicon-plane"></span>
  </div>
</div>
