<div class="pic-tile pic-viewer" id="viewer">
  <div class="pic-tile-pic" ng-click="clickPic()">
    <span ng-if="!curId">Loading...</span>
    <img id="viewer-img" ng-src="{{'gvypics/pic/'+curId+'?sz=lg'}}" ng-if="curId">
  </div>
  <div uib-dropdown class="btn-top-left" is-open="menuIsOpen">
    <div uib-dropdown-toggle class="btn btn-default btn-lg btn-dim" id="viewer-menu">
      <span class="glyphicon glyphicon-menu-hamburger"></span>
    </div>
    <ul uib-dropdown-menu class="dropdown-menu">
      <li><a ng-click="doClose()">Return To Pictures</a></li>
      <li class="divider" ng-if="gvypics.userId"></li>
      <li ng-repeat="r in [5,4,3,2,1,0]" ng-if="gvypics.userId">
        <a ng-click="setRating(r)">Set: <rating level="r" show="true"></rating> = {{rating.description[r]}} ({{r}})</a>
      </li>
      <li class="divider"></li>
      <li><a ng-click=""><span class="glyphicon glyphicon-remove"></span> Close Menu</a></li>
    </ul>
  </div>
  <div class="btn btn-default btn-top-right btn-lg btn-dim" id="viewer-close"
       ng-click="doClose()">
    <span class="glyphicon glyphicon-remove"></span>
  </div>
  <div class="btn btn-default btn-lg btn-bottom-left btn-dim" id="viewer-prev"
       ng-click="prevClick()" ng-disabled="!prevId">
    <span class="glyphicon glyphicon-circle-arrow-left"></span>
  </div>
  <div class="caption-bottom" id="viewer-caption">
    <rating level="curFold.meta[curId].rating" show="appSettings.showRating"></rating> {{capText[curId]}}
  </div>
  <div class="btn btn-default btn-lg btn-bottom-right btn-dim" id="viewer-next"
       ng-click="nextClick()" ng-disabled="!nextId">
    <span class="glyphicon glyphicon-circle-arrow-right"></span>
  </div>
  <div class="spinner">
    <span class="glyphicon glyphicon-ban-circle animate-too-far" ng-show="tooFar"></span>
    <span class="glyphicon glyphicon-repeat animate-spin" ng-show="loading"></span>
  </div>
  <div class="ng-hide">
    <img id="viewer-prefetch" ng-src="{{'gvypics/pic/'+prefetchId+'?sz=lg'}}" ng-if="prefetchId">
  </div>
</div>
