<div class="pic-tile pic-viewer" id="viewer">
  <div class="pic-tile-pic">
    <img ng-src="{{'gvypics/pic/'+id+'?sz=lg'}}">
  </div>
  <div class="pic-tile-text hidden-xs">{{cur.names[id]}}</div>
  <a ui-sref="picviewer({id: prevId})" ng-if="prevId"
     class="btn btn-default btn-lg btn-dim-left">
     <span class="glyphicon glyphicon-circle-arrow-left"></span></a>
  <a ui-sref="picbrowser({id: id})"
     class="btn btn-default btn-lg btn-dim-center">
     <span class="glyphicon glyphicon-remove"></span></a>
  <a ui-sref="picviewer({id: nextId})" ng-if="nextId"
     class="btn btn-default btn-lg btn-dim-right">
     <span class="glyphicon glyphicon-circle-arrow-right"></span></a>
</div>
