<div class="pic-tile pic-viewer" id="viewer">
  <p ng-if="stuff">{{stuff | json}}</p>
  <div class="pic-tile-pic" ng-click="clickPic()" hm-swiperight="doPrev()" hm-swipeleft="doNext()"
       hm-pinch="doPinch($event)" hm-press="doPress($event)">
    <img ng-src="{{'gvypics/pic/'+curId+'?sz=lg'}}" ng-if="curId">
  </div>
  <div class="pic-tile-text hidden-xs">{{curFold.names[curId]}}</div>
  <div class="btn btn-default btn-lg btn-dim-left" ng-click="doPrev()" ng-if="prevId">
    <span class="glyphicon glyphicon-circle-arrow-left"></span>
  </div>
  <div class="btn btn-default btn-lg btn-dim-center" ng-click="doClose()">
    <span class="glyphicon glyphicon-remove"></span>
  </div>
  <div class="btn btn-default btn-lg btn-dim-right" ng-click="doNext()" ng-if="nextId">
    <span class="glyphicon glyphicon-circle-arrow-right"></span>
  </div>
</div>
