<div class="pic-tile pic-viewer" id="viewer">
  <div class="pic-tile-pic" ng-click="clickPic()">
    <span ng-if="!curId">Loading...</span>
    <img id="viewer-img" ng-src="{{'gvypics/pic/'+curId+'?sz=lg'}}" ng-if="curId">
  </div>
  <div class="btn-top-right">
    <span uib-dropdown is-open="optionsMenuIsOpen">
      <div class="btn btn-default btn-lg btn-dim" id="viewer-menu" uib-dropdown-toggle>
        <span class="glyphicon glyphicon-menu-hamburger"></span>
      </div>
      <ul class="dropdown-menu dropdown-menu-right" uib-dropdown-menu>
        <li><a>Hello</a></li>
        <li><a>World</a></li>
      </ul>
    </span> &nbsp;
    <div class="btn btn-default btn-lg btn-dim" id="viewer-close"
         ng-click="doClose()">
      <span class="glyphicon glyphicon-remove"></span>
    </div>
  </div>
  <div class="btn btn-default btn-lg btn-bottom-left btn-dim" id="viewer-prev"
       ng-click="prevClick()" ng-disabled="!prevId">
    <span class="glyphicon glyphicon-circle-arrow-left"></span>
  </div>
  <div class="caption-bottom" id="viewer-caption">
    <rating level="curFold.meta[curId].rating" show="appSettings.showRating"></rating> {{curFold.names[curId]}}
  </div>
  <div class="btn btn-default btn-lg btn-bottom-right btn-dim" id="viewer-next"
       ng-click="nextClick()" ng-disabled="!nextId">
    <span class="glyphicon glyphicon-circle-arrow-right"></span>
  </div>
  <div class="spinner">
    <span class="glyphicon glyphicon-ban-circle animate-too-far" ng-show="tooFar"></span>
    <span class="glyphicon glyphicon-repeat animate-spin" ng-show="loading"></span>
  </div>
  <div class="ng-hide">
    <img id="viewer-prefetch" ng-src="{{'gvypics/pic/'+prefetchId+'?sz=lg'}}" ng-if="prefetchId">
  </div>
</div>
