<div class="container">
  <div class="row">
    <div class="panel panel-default col-md-8">
      <div class="panel-body">
        <h2 class="curly-font">Contact me</h2>
        <p>Slide show videos are available on DVD.  To request a DVD, write me at msauser2@gmail.com</p>
        <p>I hope you enjoy the slide shows. If you have any comments, suggestions or corrections,
        please let me know.</p>
      </div>
    </div>
  </div>
  <div class="row" ng-repeat="show in shows track by $index">
    <h2 ng-if="show.groupTitle" class="groovy-font groovy-logo-color bare-heading">{{show.groupTitle}}</h2>
    <div class="panel panel-default col-md-8">
      <div class="panel-body">
        <p><b>{{show.title}}</b></p>
        <a ng-href="{{'https://gvypics.groovymarty.com/'+show.vidid}}">
          <img class="img-responsive" src="gvypics/pic/{{show.titlepic}}?sz=sm" alt="{{show.title}}"></a>
        <p>{{show.caption}}</p>
        <a ng-href="{{'https://gvypics.groovymarty.com/'+show.vidid}}">Click here to view slideshow</a>
        <p><a ui-sref="picbrowser({id: '{{show.collection}}', i: null, sz: 'sm', showid: 1})">
          (Here are all the pictures)</a></p>
      </div>
    </div>
  </div>
</div>
