<div class="container">
  <div class="row">
    <div class="panel panel-default col-md-8">
      <div class="panel-body">
        <h2 class="curly-font">Contact me</h2>
        <p>Slide show videos are available on DVD.  To request a DVD, write me at msauser2@gmail.com</p>
        <p>I hope you enjoy the slide shows. If you have any comments, suggestions or corrections,
        please let me know.</p>
        <p>If you are watching on a big screen, click the higher quality video button for a better picture.</p>
      </div>
    </div>
  </div>
  <div class="row" ng-repeat="show in shows track by $index">
    <h2 ng-if="show.groupTitle" class="groovy-font groovy-logo-color bare-heading">{{show.groupTitle}}</h2>
    <div class="panel panel-default col-md-8">
      <div class="panel-body">
        <p><b>{{show.title}}</b></p>
        <a ng-href="{{'gvypics/vid/'+show.vidid}}">
          <img class="img-responsive" src="gvypics/pic/{{show.titlepic}}?sz=sm" alt="{{show.title}}"></a>
        <p>{{show.caption}}</p>
        <a class="btn btn-warning" ng-href="{{'gvypics/vid/'+show.vidid}}">View Slideshow</a>
        <a class="btn btn-primary" ng-href="{{'gvypics/vid/'+show.vidid+'?res=hq'}}">Higher Quality Video</a>
        <a class="btn btn-default" ui-sref="picbrowser({id: '{{show.collection}}', i: null, sz: 'sm', showid: 1})" ng-if="show.collection">
          Picture Collection</a>
      </div>
    </div>
  </div>
</div>
