<div class="container">
  <div class="row" ng-repeat="folder in folders">
    <div class="panel panel-default col-md-8">
      <div class="panel-body">
        <p><b>{{folder.name || folder.id}}</b></p>
        <p ng-repeat="vidid in folder.videos">
          {{folder.names[vidid] || vidid}}
          &bull;
          <a ng-href="{{'gvypics/vid/'+vidid}}">std</a>
          &bull;
          <a ng-href="{{'gvypics/vid/'+vidid+'?res=hq'}}">hq</a>
        </p>
      </div>
    </div>
  </div>
</div>
